*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(251, 241, 229);
}
/* main wrapper (contains sidebar and image)*/
.wrap-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85vw;
    width: 100%;
    padding: 20px;
    gap: 80px;
}

/* side bar */
.sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar h1{
    font-size: 2.25em;
    text-align: left;
}

.sidebar ul{
    font-size: 1.25em;
    list-style: none;
    justify-content: flex-start;
    text-align: left;
}
li{
    margin: 8px 0;
}

/* image */
.center-image{
    width: 50vw;
    height: 60vh;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 60vh;
    max-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-image img{
    max-width: 80%;
    max-height: 80%;
    width: 600px;
    height: auto;
    display: block;
}

